<div class="row__actions">
{{#if isShowingConfirmation}}
  <div>
    <button class="btn btn-danger btn-sm" {{action 'confirmRemove'}}>Remove</button>
    <button class="btn btn-default btn-sm" {{action 'hideConfirmation'}}>Cancel</button>
  </div>
{{else}}
  <span {{action 'showConfirmation'}}>
    {{fa-icon 'times'}}
  </span>
{{/if}}
</div>
