<div class="row__actions">
  {{#liquid-if isShowingConfirmation}}
    <div>
      <button class="btn btn-danger btn-sm" {{action 'deleteRow'}}>Remove</button>
      <button class="btn btn-default btn-sm" {{action 'hideConfirmation'}}>Cancel</button>
    </div>
  {{else}}
    <span {{action 'editRow'}}>
      {{fa-icon 'pencil' size='lg'}}
    </span>
    <span {{action 'showConfirmation'}}>
      {{fa-icon 'times' size='lg'}}
    </span>
  {{/liquid-if}}
</div>
